/* header */
body.admin-bar .navbar-fixed-top {
    top: 28px !important;
}
.logged-in > .wr header {
    padding-top: 30px;
    max-height: 180px;
}

.logged-in > .wr header:before {
    margin-top: 32px;
}
.site_logo {
    position: relative;
    z-index: 10;
}
/*breadcrumbs*/
#breadcrumbs {
    padding: 6.5rem 0 2.5rem;
    text-align: center;
}
#breadcrumbs > span > span,
#breadcrumbs > span > span > a,
#breadcrumbs > span > span > span > a {
    color: #1c1c1c;
}
#breadcrumbs > span > span > a {
    color: #1b2026;
}
@media only screen and (max-width: 992px) {
    #breadcrumbs {
        padding: 0.5rem 0 2.5rem;
    }
}
@media only screen and (max-width: 600px) {
    #breadcrumbs {
        padding: 2.5rem 0 2.5rem;
    }
}
/**/
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 20;
    background: transparent;
    transition: all 0.3s ease-in-out;
}
.header.header_shadow {
    background: #2F4231;
    transition: all 0.2s ease-in-out;
    box-shadow: -1px 0px 4px 0px rgb(0 0 0 / 45%);
}

.header__container {
    max-width: 1920px;
    margin: 0 auto;
    padding: 0 80px;
    position: relative;
}
.header_button_link {
    background: #49CA3E;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 49px;
}
.header_button_text a {
    font-family: inherit;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 120%;
    text-align: center;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.site_logo a span {
    font-family: inherit;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    color: #1E3753;
}
.menu__link {
    font-style: normal;
    font-weight: 500;
    display: flex;
    align-items: center;
    letter-spacing: 0.07em;
    margin: 0px 24px;
    transition: all 0.4s ease-in-out;
    font-family: Freigeist XWide;
    font-size: 13px;
    line-height: 15px;
    text-decoration-line: underline;
    text-transform: uppercase;
    color: #FFFFFF;
    position: relative;
}

.cta_button_header a {
    background: #FFCF00;
    font-family: Freigeist XWide;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    color: #000000;
    width: 154px;
    height: 49px;
}
.header__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav{
    z-index: 10;
    display: flex;
    justify-content: space-between;
    height: 100px;
    align-items: center;
}
/*Styling Links*/
.nav-links{
    display: flex;
    list-style: none;
    text-transform: uppercase;
}
.nav-links li a{
    text-decoration: none;
}
.nav-links li a:hover {
    color: #FFCF00;
}
.nav-links li {
    position: relative;
}
.nav-links li a::before {
    content: "";
    display: block;
    height: 3px;
    width: 0%;
    top: 15px;
    background-color: #FFCF00;
    position: absolute;
    transition: all ease-in-out 250ms;
    margin: 0 0 0 0%;
}
.nav-links li a:hover::before{
    width: 100%;
}

.page .menu__link {
    color: #1c1c1c;
}
.page .header-logo img {
    filter: brightness(0);
}
.page-template .header-logo img {
    filter: brightness(1);
}
.page-template .menu__link {
    color: #ffffff;
}
/*Styling Hamburger Icon*/
.hamburger div{
    width: 30px;
    height:3px;
    background: #f2f5f7;
    margin: 5px;
    transition: all 0.3s ease;
}
.hamburger{
    display: none;
}

.header_lang .wpml-ls-display {
    font-weight: 500;
    display: flex;
    align-items: center;
    letter-spacing: 0.07em;
    margin: 0px 24px;
    transition: all 0.4s ease-in-out;
    font-family: Freigeist XWide;
    font-size: 13px;
    line-height: 15px;
    text-transform: uppercase;
    text-decoration: none;
    color: #ffffff;
}
.current_page_item > .menu__link {
    color: #FFCF00;
}

.current_page_item > .menu__link:before {
    width: 100%;
    color: #FFCF00;
}
@media only screen and (max-width: 1100px) {
    .menu__link {
        margin: 0 14px;
    }
}
@media only screen and (max-width: 1024px) {
    .menu__link {
        letter-spacing: 0em;
    }
}
/*Stying for small screens*/
@media screen and (max-width: 800px) {
    header {
        height: 50px;
        display: flex;
        align-items: center;
    }
    .header__container {
        max-width: 100%;
        margin: inherit;
        padding: 0 10px;
        position: initial;
    }
    .header > .content_width {
        max-width: 100%;
        padding: 0;
    }
    .nav-links.open {
        height: 110vh;
        padding-top: 100px;
        left: 0;
    }
    .nav-links.open li {
        margin-bottom: 80px;
    }
    .nav-links.open .menu__link {
        justify-content: center;
    }
    .nav-links .menu__link {
        justify-content: center;
    }
    .cta_button_header {
        justify-content: center;
        display: flex;
    }
    nav{
        /*position: fixed;*/
        z-index: 3;
        display: block;
        justify-content: space-between;
        width: 100%;
    }
    .hamburger{
        display:block;
        position: absolute;
        cursor: pointer;
        right: 5%;
        top: 50%;
        transform: translate(-5%, -50%);
        z-index: 2;
        transition: all 0.7s ease;
    }
    .nav-links{
        position: fixed;
        background-image: url(/wp-content/uploads/2022/03/Map_-min.jpeg);
        background-repeat: no-repeat;
        background-position: top center;
        background-size: cover;
        height: 100vh;
        width: 100%;
        left: 100%;
        flex-direction: column;
        clip-path: circle(50px at 90% -20%);
        -webkit-clip-path: circle(50px at 90% -10%);
        transition: all .5s ease-out;
        pointer-events: none;
    }
    .nav-links.open{
        clip-path: circle(1000px at 90% -10%);
        -webkit-clip-path: circle(1000px at 90% -10%);
        pointer-events: all;
    }
    /*.nav-links li{*/
    /*    opacity: 0;*/
    /*}*/
    .nav-links li:nth-child(1){
        transition: all 0.5s ease 0.1s;
    }
    .nav-links li:nth-child(2){
        transition: all 0.5s ease 0.2s;
    }
    .nav-links li:nth-child(3){
        transition: all 0.5s ease 0.3s;
    }
    .nav-links li:nth-child(4){
        transition: all 0.5s ease 0.4s;
    }
    .nav-links li:nth-child(5){
        transition: all 0.5s ease 0.5s;
    }
    .nav-links li:nth-child(6){
        transition: all 0.5s ease 0.6s;
        margin: 0;
    }
    .nav-links li:nth-child(7){
        transition: all 0.5s ease 0.7s;
        margin: 0;
    }
    li.fade{
        opacity: 1;
    }
    .site_logo {
        padding-left: 1rem;
    }
    .wpml-ls-legacy-list-horizontal {
        text-align: center;
    }
}
@media only screen and (max-width: 768px) {
    .cta_button_header {
        display: none;
    }
}
/*Animating Hamburger Icon on Click*/
.toggle .line1{
    transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2{
    transition: all 0.0s ease;
    width:0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px,-6px);
}